@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

* {
  box-sizing: border-box;
}

.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.leaflet-container {
  z-index: 1;
}
